
.fim{
    font-size: 15px;
    color: rgb(0, 0, 0);
}
.rodape {
    margin-top: 2%;
    width: auto;
    text-align: center;
    background: linear-gradient(hsl(108, 48%, 74%), transparent);
    padding:0.2%;
}

